<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <%= image_tag("logo.png", class: "ui centered mini image") %>
    <div class="ui horizontal inverted small divided link list">
      <p>©2011–<%= Time.zone.now.strftime("%Y") %> Shadowfax Demo. All rights reserved. <a>Privacy</a> and <a>Terms</a></p>
    </div>
  </div>
</div>
