<div class="ui black inverted vertical footer segment">
  <div class="ui center aligned container">
    <%= image_tag("logo.png", class: "ui centered mini image") %>
    <div class="ui horizontal inverted small divided link list">
      <p>© Shadowfax Demo <%= Time.zone.now.strftime("%Y") %></p>
    </div>
  </div>
</div>
