<div class="ui modal" data-ui-behavior="modal">
  <i class="close icon"></i>
  <div class="header">
    <%= yield(:modal_title) %>
  </div>
  <div class="content">
    <%= yield(:modal_body) %>
  </div>
</div>
