<div class="item toc-only">
  <div class="ui input"><input type="text" placeholder="Search..."></div>
</div>
<div class="item side-menu-only">
  <img class="ui mini image middle aligned right spaced" src="http://placehold.it/35">
  <span>Shadowfax Demo</span>
</div>
<%= link_to("Dashboard", root_path, class: "item") %>
<%= link_to("Contact us", pages_contact_us_path, class: "item") %>
<%= link_to("About", pages_about_path, class: "item") %>
