<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Home
        <div class="sub header"></div>
      </h1>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="ui main container">
  <span class="home-message">This is home page.</span>
</div><!-- /.ui main container -->


