<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        About us
        <div class="sub header"></div>
      </h1><!-- /.ui header -->
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical segment -->

<div class="main ui container">
</div>
