<%% provide(:title, "New <%= singular_table_name %>") %>

<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        New <%= singular_table_name %>
      </h1>
      <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="ui main container">
  <%%= render(partial: "form") %>
</div><!-- /.ui main container -->
