<div class="ui masthead vertical segment compressed">
  <div class="ui container">
    <div class="introduction">
        <h1 class="ui header">
          Dashboard
        </h1>
      <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="main ui container full-width-container">
  <div class="ui stackable grid">
    <div class="row">
      <div class="ten wide column">
        <h3 class="ui dividing header">Reports</h3>
        <div class="ui secondary menu js-reports-menu">
          <a class="item active" data-tab="team-reports">Team Reports</a>
          <a class="item" data-tab="my-reports">My Reports</a>
        </div>
        <div class="ui tab segment basic m-a-0 active" data-tab="team-reports">
          <div class="ui list">
            <a class="item">Buyers</a><!-- /.item -->
            <a class="item">Listings</a><!-- /.item -->
            <a class="item">Pendings</a><!-- /.item -->
            <a class="item">Closed Business</a><!-- /.item -->
            <a class="item">Cash Flow</a><!-- /.item -->
            <a class="item">Marketing - Lead Source Analysis</a><!-- /.item -->
          </div><!-- /.ui list -->
        </div>
        <div class="ui tab segment basic m-a-0" data-tab="my-reports">
          <div class="ui list">
            <a class="item">Buyers</a><!-- /.item -->
            <a class="item">Listings</a><!-- /.item -->
            <a class="item">Pendings</a><!-- /.item -->
            <a class="item">Closed Business</a><!-- /.item -->
            <a class="item">Cash Flow</a><!-- /.item -->
            <a class="item">Marketing - Lead Source Analysis</a><!-- /.item -->
          </div><!-- /.ui list -->
        </div>
        <h3 class="ui dividing header">Status Board</h3>
        <div class="ui secondary menu js-status-board-menu">
          <a class="item active" data-tab="team-board">Team Board</a>
          <a class="item" data-tab="my-board">My Board</a>
        </div>
        <div class="ui tab segment basic m-a-0 p-x-0 active" data-tab="team-board">
          <table class="ui table">
            <thead>
              <tr>
                <th colspan="2">Prospects (19)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  Buyers
                </td>
              </tr>
              <tr>
                <td width="60%">
                  <div class="ui items">
                    <div class="item">
                      <a class="ui mini image">
                        <img src="http://placehold.it/25">
                      </a>
                      <div class="content">
                        <a class="header">
                          Aaron Wagner
                        </a>
                        <div class="meta m-y-0">Buyer</div><!-- /.meta -->
                        <div class="description m-y-0">
                          <p>Price range: Not Set</p>
                        </div>
                        <div class="extra m-y-0">
                          Owned by Phil Dunphy
                        </div><!-- /.extra -->
                      </div>
                    </div>
                  </div><!-- /.ui items -->
                </td>
                <td>
                  <div class="ui checkbox" data-ui-behavior="checkbox">
                    <input type="checkbox" />
                    <label>
                      Get recycling in the car
                      <div class="ui horizontal label">Patrick O'Grady · 5/2/17</div>
                    </label>
                  </div><!-- /.ui checkbox -->
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ui items">
                    <div class="item">
                      <a class="ui mini image">
                        <img src="http://placehold.it/25">
                      </a>
                      <div class="content">
                        <a class="header">
                          Annie2 O'Grady
                        </a>
                        <div class="meta m-y-0">Buyer</div><!-- /.meta -->
                        <div class="description m-y-0">
                          <p>Price range: Not Set</p>
                        </div>
                        <div class="extra m-y-0">
                          Owned by Phil Dunphy
                        </div><!-- /.extra -->
                      </div>
                    </div>
                  </div><!-- /.ui items -->
                </td>
                <td>
                  <div class="ui icon tiny compact message">
                    <i class="warning sign icon"></i>
                    <div class="content">
                      <div class="header">
                        No next action
                      </div><!-- /.header -->
                      <p>Click here to set one</p>
                    </div><!-- /.content -->
                  </div><!-- /.ui icon message -->
                </td>
              </tr>
            </tbody>
          </table><!-- /.ui table -->
        </div>
        <div class="ui tab segment basic m-a-0 p-x-0" data-tab="my-board">
        </div>
      </div><!-- /.ten wide column -->
      <div class="six wide column">
        <h3 class="ui header">
          My Tasks
          <div class="ui basic right floated button">Add</div>
        </h3><!-- /.ui dividing header -->
        <h4 class="ui header">Today</h4>
        <div class="ui checkbox" data-ui-behavior="checkbox">
          <input type="checkbox" />
          <label>
            Get recycling in the car
            (<a>Johnny Masterson</a>)
            <div class="ui horizontal label">Patrick O'Grady · 5/2/17</div>
          </label>
        </div><!-- /.ui checkbox -->
        <div class="ui checkbox" data-ui-behavior="checkbox">
          <input type="checkbox" />
          <label>
            Get the help videos out on Github
            (<a>Alice Long</a>)
            <div class="ui horizontal label">Patrick O'Grady · 10/14/16</div>
          </label>
        </div><!-- /.ui checkbox -->
        <h3 class="ui header">
          Teammate Tasks
          <div class="ui basic right floated button">Add</div>
          <h4 class="ui header">Today</h4>
          <div class="ui checkbox" data-ui-behavior="checkbox">
            <input type="checkbox" />
            <label>
              Get recycling in the car
              (<a>Johnny Masterson</a>)
              <div class="ui horizontal label">Patrick O'Grady · 5/2/17</div>
            </label>
          </div><!-- /.ui checkbox -->
          <div class="ui checkbox" data-ui-behavior="checkbox">
            <input type="checkbox" />
            <label>
              Get the help videos out on Github
              (<a>Alice Long</a>)
              <div class="ui horizontal label">Patrick O'Grady · 10/14/16</div>
            </label>
          </div><!-- /.ui checkbox -->
        </h3><!-- /.ui dividing header -->
        <h3 class="ui dividing header">Recent Activity</h3><!-- /.ui dividing header -->
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <i class="user icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                You updated the contact
                <a class="record">
                  Barbara Wiltsie
                </a>
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="extra text">
                <span class="">Address state:</span>
                <del>Ct</del>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <i class="add circle icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Annie
                </a> added to <a class="record">Brendan O'Grady (Buyer)</a>
                <div class="date">
                  4 hours ago
                </div>
              </div>
              <div class="extra text">
                <i class="square outline icon"></i>
                Call Brendan
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <i class="talk outline icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Annie
                </a> commented on <a class="record">Brendan O'Grady</a>
                <div class="date">
                  2 Days Ago
                </div>
              </div>
              <div class="extra text">
                <div class="ui raised yellow segment">
                  <p>spoke to micki...</p>
                </div><!-- /.ui raised yellow segment -->
              </div><!-- /.extra text -->
            </div>
          </div>
          <div class="event">
            <div class="label">
              <i class="check circle icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Annie
                </a> checked off from <a class="record">Brendan O'Grady</a>
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                <i class="green check square icon"></i>
                Finish CMA
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.six wide column -->
    </div><!-- /.row -->
  </div><!-- /.ui grid -->
</div><!-- /.main ui container full-width-container -->

<script>
  // Initialize tabs
  $(".js-reports-menu .item").tab();
  $(".js-status-board-menu .item").tab();
</script>
