<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
        <h1 class="ui header">
          New
          <div class="sub header">Form to add a new record</div>
        </h1>
      <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="ui main container">
  <form class="ui form max-width-600">
    <h4 class="ui dividing header">Basic Information</h4>
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input type="text" />
      </div><!-- /.field -->
      <div class="field">
        <label>Last Name</label>
        <input type="text" />
      </div><!-- /.field -->
    </div><!-- /.two fields -->
    <div class="two fields">
      <div class="field">
        <label>Spouse/Partner First Name</label>
        <input type="text" />
      </div><!-- /.field -->
      <div class="field">
        <label>Spouse/Partner Last Name</label>
        <input type="text" />
      </div><!-- /.field -->
    </div><!-- /.two fields -->
    <div class="field">
      <label>Contact Rank</label>
      <div class="inline fields">
        <div class="field">
          <div class="ui radio checkbox" data-ui-behavior="checkbox">
            <input type="radio" name="grades" />
            <label>A+</label>
          </div><!-- /.ui radio checkbox -->
        </div><!-- /.field -->
        <div class="field">
          <div class="ui radio checkbox" data-ui-behavior="checkbox">
            <input type="radio" name="grades" />
            <label>A</label>
          </div><!-- /.ui radio checkbox -->
        </div><!-- /.field -->
        <div class="field">
          <div class="ui radio checkbox" data-ui-behavior="checkbox">
            <input type="radio" name="grades" />
            <label>B</label>
          </div><!-- /.ui radio checkbox -->
        </div><!-- /.field -->
        <div class="field">
          <div class="ui radio checkbox" data-ui-behavior="checkbox">
            <input type="radio" name="grades" />
            <label>C</label>
          </div><!-- /.ui radio checkbox -->
        </div><!-- /.field -->
      </div><!-- /.inline fields -->
    </div><!-- /.field -->
    <div class="field">
      <label>Groups</label>
      <select multiple="" class="ui dropdown" data-ui-behavior="dropdown">
        <option value="1">Agent</option>
        <option value="2">Appraiser</option>
        <option value="3">Friend</option>
        <option value="4">Inspector</option>
      </select>
    </div><!-- /.field -->
    <h4 class="ui dividing header">Phone Numbers</h4><!-- /.ui dividing header -->
    <p>Check the primary phone number</p>
    <div class="field">
      <div class="ui action input">
        <input type="text" placeholder="Email address" />
        <div class="ui basic floating dropdown button" data-ui-behavior="dropdown">
          <div class="text">Mobile</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Mobile</div><!-- /.item -->
            <div class="item">Home</div><!-- /.item -->
            <div class="item">Work</div><!-- /.item -->
            <div class="item">Fax</div><!-- /.item -->
          </div><!-- /.menu -->
        </div><!-- /.ui basic floating dropdown button -->
        <div class="ui basic compact segment m-a-0">
          <div class="ui fitted checkbox" data-ui-behavior="checkbox">
            <input type="checkbox" />
          </div><!-- /.ui checkbox -->
        </div><!-- /.ui compact segment -->
        <div class="ui basic red icon button"><i class="large trash icon"></i></div><!-- /.ui basic red button -->
      </div><!-- /.ui action input -->
    </div><!-- /.field -->
    <a>Add Phone Number</a>
    <h4 class="ui dividing header">Email Addresses</h4><!-- /.ui dividing header -->
    <p>Check the primary email address</p>
    <div class="field">
      <div class="ui action input">
        <input type="text" placeholder="Email address" />
        <div class="ui basic floating dropdown button" data-ui-behavior="dropdown">
          <div class="text">Mobile</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Mobile</div><!-- /.item -->
            <div class="item">Home</div><!-- /.item -->
            <div class="item">Work</div><!-- /.item -->
            <div class="item">Fax</div><!-- /.item -->
          </div><!-- /.menu -->
        </div><!-- /.ui basic floating dropdown button -->
        <div class="ui basic compact segment m-a-0">
          <div class="ui fitted checkbox" data-ui-behavior="checkbox">
            <input type="checkbox" />
          </div><!-- /.ui checkbox -->
        </div><!-- /.ui compact segment -->
        <div class="ui basic red icon button"><i class="large trash icon"></i></div><!-- /.ui basic red button -->
      </div><!-- /.ui action input -->
    </div><!-- /.field -->
    <a>Add Email Address</a>
    <div class="ui hidden divider"></div><!-- /.ui hidden divider -->
    <h4 class="ui dividing header">Address</h4>
    <div class="field">
      <label>Street</label>
      <input type="text" />
    </div><!-- /.field -->
    <div class="three fields">
      <div class="field">
        <label>City</label>
        <input type="text" />
      </div><!-- /.field -->
      <div class="field">
        <label>State</label>
        <input type="text" />
      </div><!-- /.field -->
      <div class="field">
        <label>Zip Code</label>
        <input type="text" />
      </div><!-- /.field -->
    </div><!-- /.three fields -->
    <h4 class="ui dividing header">Salutations</h4>
    <div class="inline field">
      <div class="ui toggle checkbox" data-ui-behavior="checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Edit Salutations</label>
      </div>
    </div>
    <div class="field">
      <label>Envelope Saluation</label>
      <input type="text" disabled />
    </div><!-- /.field -->
    <div class="field">
      <label>Letter Salutation</label>
      <input type="text" disabled />
    </div><!-- /.field -->
    <h4 class="ui dividing header">Professional</h4><!-- /.ui dividing header -->
    <div class="field">
      <label>Company</label>
      <input type="text" />
    </div><!-- /.field -->
    <div class="field">
      <label>Profession</label>
      <input type="text" />
    </div><!-- /.field -->
    <div class="field">
      <label>Business Title</label>
      <input type="text" />
    </div><!-- /.field -->
    <div class="ui primary button">Save</div>
    <div class="ui primary button">Save & Add Another</div>
    <div class="ui basic button">Cancel</div>
  </form><!-- /.ui form -->
</div><!-- /.ui main container -->
