<div class="ui masthead vertical segment compressed">
  <div class="ui container">
    <div class="introduction">
        <h1 class="ui header">
          Settings
          <div class="sub header">Configure the app</div>
        </h1>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->

<div class="main ui container">
  <div class="ui horizontal segments no-border m-a-0">
    <div class="ui basic segment no-border m-a-0 settings-menu-segment">
      <div class="ui vertical menu">
        <div class="item">
          <div class="header">Basics</div>
          <div class="menu">
            <a class="item">Agent Profile</a>
            <a class="item">Take Survey</a>
            <a class="item">Goals</a>
            <a class="item">Commission</a>
            <a class="item">Lead Public Link</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Connections</div>
          <div class="menu">
            <a class="item">Email</a>
            <a class="item">Social Media</a>
            <a class="item">Calendars</a>
            <a class="item">Automatic Lead Import</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Teams</div>
          <div class="menu">
            <a class="item">Teammates</a>
            <a class="item">Lead Sharing</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Account Settings</div>
          <div class="menu">
            <a class="item active">Password</a>
            <a class="item">Email Tracking</a>
            <a class="item">Notifications</a>
            <a class="item">Lead Notifications</a>
            <a class="item">Billing</a>
          </div>
        </div>
      </div>
    </div><!-- /.ui segment -->
    <div class="ui basic segment no-border m-a-0">
      <h1 class="ui header">Password</h1><!-- /.ui header -->
      <form class="ui form max-width-600">
        <h3 class="ui dividing header">Edit Password</h3>
        <div class="field">
          <label>New Password</label>
          <input type="text" />
        </div><!-- /.field -->
        <div class="field">
          <label>New Password Confirmation</label>
          <input type="text" />
        </div><!-- /.field -->
        <div class="field">
          <label>Current Password</label>
          <input type="text" />
        </div><!-- /.field -->
        <div class="ui primary button">Save</div><!-- /.ui primary button -->
      </form><!-- /.ui form -->
    </div><!-- /.ui segment -->
  </div><!-- /.ui horizontal segments -->
</div><!-- /.main ui container -->
