<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
        <h1 class="ui header">
          Wizard
          <div class="sub header">Full screen step-by-step form flow</div>
        </h1>
      <div class="ui hidden divider"></div>
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical tab segment -->
